/******************************
Seletor Universal 

* {
    border: 1px solid red;
}
*/

/******************************
Seletor de Texto 

h1 {
    color: green;
}
*/

/******************************
Seletor de Classe 

.verde {
    color: green;
}

p.verde {
    color: green;
}
*/

/******************************
Seletor de ID 

#cabecalho {
    border: 1px solid blue;
}

*/

/******************************
Seletor de Filho

li>a {
    color: red;
    text-decoration: none;
}

*/

/******************************
Seletor de Descendente 

li a {
    color: green;
}

*/

/******************************
Seletor de irmão adjacente 

h1+p {
    color: red;
}

*/

/******************************
Seletor de irmão geral 

h1~p {
    color: pink;
}

*/

/******************************
Herança e especificidade */

/* Seletores tem uma precedência que define quais regras vem primeiro */

/* p {
    color: red !important;
}

p {
    color: blue;
} */

/* Se um seletor for mais específico que outro a regra mais específica será aplicada (terá precedência sobre regras mais gerais) */

/* * {
    color: red;
}

h2 {
    color: blue;
}

h2.verde {
    color: green;
}

h2#amarelo {
    color: yellow;
} */

/******************************
Barra de navegação vertical */
/* 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 20px;
    background: url(../imagens/seta.png) no-repeat left center;
} */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../imagens/menu.png) no-repeat left center;
}

ul a:hover {    
    background-position: right center;
    background-color: #f99200;
    color: #fff;
}
